* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'montseratt', sans-serif;
  }
  
  /* Component Form */
  .calender {
    color: white;
    font-size: 0.8em;
    margin-top: 10px;
    text-align: center;
  }
  
  #root {
    // padding: 10px;
    background-image: url(../image/cloud.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .main {
    height: 100vh;
  }
  
  .search {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  
  .search-box {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .formBtn {
    width: 8em;
    height: 3.5em;
    background: linear-gradient(to bottom,  #11e8bb 0%,#8200c9 100%); 
    color: white;
    border-radius: 20px; 
    margin-left: 20px; 
    font-weight: bold; 
    outline: 0;
    font-family: 'Oswald', sans-serif;
    margin-top: 20px;
  }
  
  form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .formH1{
    color:white; 
    display: block;
    width: 100%;
    text-align: center;
    font-size: 50px;
  }
  
  .search-box .search-bar {
    display: block;
    width: 100%;
    padding: 15px;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    box-shadow: 0px 5px rgba(0, 0 , 0, 0.2);
    color: #313131;
    margin-top: 20px;
  }
  
  /* Component Result */
  .resultDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    width: 100%;
  }
  
  .resultIcon, .resultCity, .resultIcon2 {
    background: rgba(30, 67, 102, 0.5);
    margin: 0.3em;
    border-radius: 16px;
    box-shadow: 0px 10px 5px rgba(0, 0 , 0, 0.2);
    width: 30em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 3em;
  }

  @media (min-width: 1000px) {
    .resultIcon, .resultCity, .resultIcon2 {
      width: 25%;
    }
  }

  .resultCity {
    height: 20em;
  }
  
  /* Drugie okno */
  .resultDate {
    font-size: 0.8em;
    color: white; 
    text-align: center;
  }
  
  .resultCityH3, .mainH3 {
    display: block;
    font-size: 1.8em;
    color: white; 
    margin-top: 0.8em;
    margin-bottom: 1em;
  }
  
  .divTemp {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .resultTempIcon {
    background-image: url(../image/icons8-temperature-48.png);
    width: 2em;
    height: 2em;
    background-size: cover;
    background-position: center;
  }
  
  .resultTempH2 {
    color: white; 
    font-size: 1em;
  }
  
  //Pierwsze i trzecie okno
  .resultH4 {
    color: white;
    font-size: 0.8em;
    margin-top: 1em;
    text-align: center;
    height: 3em;
  }
  
  .cloudImg {
    background-image: url(../image/clouds.png);
    width: 2em; 
    height: 2em;
    background-size: cover;
    background-position: center;
    margin-top: 1em;
  }
  
  .windImg {
    background-image: url(../image/wind.png);
    width: 2em; 
    height: 2em;
    background-size: cover;
    background-position: center;
    margin-top: 1em;
  }
  
  .pressureImg {
    background-image: url(../image/pressure.png);
    width: 2em; 
    height: 2em;
    background-size: cover;
    background-position: center;
    margin-top: 1em;
  }
  
  .sunriseImg {
    background-image: url(../image/sunrise.png);
    width: 2em; 
    height: 2em;
    background-size: cover;
    background-position: center;
    margin-top: 1em;
  }
  
  .sunsetImg {
    background-image: url(../image/sunset.png);
    width: 2em; 
    height: 2em;
    background-size: cover;
    background-position: center;
    margin-top: 1em;
  }
  
  .visibilityImg {
    background-image: url(../image/visibility.png);
    width: 2em; 
    height: 2em;
    background-size: cover;
    background-position: center;
    margin-top: 1em;
  }
  
  .humidityImg {
    background-image: url(../image/humidity.png);
    width: 2em; 
    height: 2em;
    background-size: cover;
    background-position: center;
    margin-top: 1em;
  }
  
  .feelImg {
    background-image: url(../image/feel.png);
    width: 2em; 
    height: 2em;
    background-size: cover;
    background-position: center;
    margin-top: 1em;
  }

  //Druga sekcja

  .sectionSecond {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .chartApp {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .chartLine {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em;
    width: 50em;
  }
  
  @media (max-width: 800px) {
    .chartLine {
      width: 25em;
    }
  }
  
  @media (max-width: 500px) {
    .chartLine {
      width: 20em;
    }
  }

  @media (max-width: 300px) {
    .chartLine {
      width: 15em;
    }
  }
  
  .errors {
    background: rgba(30, 67, 102, 0.5);
    margin-left: 3.5em;
    margin-right: 3.5em;
    border-radius: 16px;
    box-shadow: 0px 10px 5px rgba(0, 0 , 0, 0.2);
    display: flex;
    color: white;
    height: 100px;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    margin-top: 30px
  }
  
  